body {
  box-sizing: border-box;
  margin: 0;
  background-color: #faeee7; /* your background palette */
  display: block; /* change from flex to block */
  font-family: 'Inter', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}
